//====================================
// Footer
//====================================
.footer
    padding-top: 4.978571em
    padding-bottom: 4.642857em
    background-color: $charcoalGrey
    &__nav
        & ul
            display: flex
            justify-content: space-around
        &__title

            text-transform: uppercase
            font-size: .857142em
            font-weight: 700
            color: $white
.nav__title__item
    font-size: 1em
    font-weight: 300
    line-height: 2.57143em
    color: $silver
    & img
        margin-top: 1.142857em
        margin-right: 2.714285em
        width: 2.857142em
        height: 2.857142em
