//====================================
// Layout General
//====================================
*
    +box-sizing(border-box)

html
    font-size: $primaryFontSize * 1px

body
    font-family: $secondaryFont
    font-weight: 300

h1, h2, h3, h4, h5, h6
    font-family: $primaryFont

input, select, textarea, button
    font-family: inherit

button
    padding: 0px
    &:focus
        outline: none

a
    text-decoration: none
    color: inherit
