//====================================
// Tablet
//====================================
@media screen and (max-width: 900px)
    body
        font-size: 12px
    .fold
        &__title
            margin: 85px 62px 82px
            line-height: 59px
    .catalogue
        &__info
            &__title
                width: 282px
                height: 52px
                font-size: 16px
            &__text
                // width: 717px
                // height: 75px
            &__img figure img
                width: 364px
                margin-left: 0
    .characteristics
        font-size: 14px
        &__images
            margin-left: 29px
            & img
                width: 310px
                height: 160px
        &__info
            margin-left: 0
            &__box-1
                margin-top: 66px
                margin-bottom: 75px
            &__box-2
                margin-bottom: 75px
            &__box-3
                margin-bottom: 65px
    .packages
        &__boxes
            flex-direction: column
            text-align: center
            &__content
                margin: 0 auto
                font-size: 14px
            &__img
                display: inline-flex
                width: auto
                height: auto
            &__title
                display: inline-flex
    .success-stories
        flex-direction: column
        text-align: center
        &__box
            &__title
                font-size: 35px
                padding-top: 0
            &__images
                flex-wrap: nowrap
    .suscribe
        &__title
            font-size: 35px
        &__text
            font-size: 16px
        & div
            margin-left: 26px
        &__form
            margin-right: 31px
            &__input
                width: 369px
                margin-right: 0
                &:first-child
                    margin-right: 0
                    width: 369px
            &__button
                margin-top: 28px
    .footer
        font-size: 14px
        &__nav ul li:nth-child(3)
            display: none
