//====================================
// Fold
//====================================
.fold
    width: 100%
    height: 600px
    padding-top: 48px
    overflow: hidden
    background-image: url('../images/bg-video.png')

    &__logo
        width: 288px
        height: 36px
        padding-left: 48px

    &__title
        margin: 3em auto 2em
        text-align: center
        text-transform: uppercase
        line-height: 1.4
        letter-spacing: -0.7px
        font-size: 2.5em
        font-weight: 500
        color: $white

    &__button
        position: relative
        display: block
        width: 180px
        height: 50px
        margin: 5em auto 0px
        border-radius: 2px
        text-transform: uppercase
        letter-spacing: .8px
        font-weight: 500
        font-size: 16px
        color: $nightBlue
