//====================================
// Packages
//====================================
.packages
    & h1
        font-weight: 600
        text-transform: uppercase
        color: $greyishBrown
    &__title-principal
        text-align: center
        margin-top: 2em
        margin-bottom: 2em
        font-size: 2.285714em
    &__boxes
        display: flex
        justify-content: space-around
        &__content
            max-width: 320px
        &__img
            width: 11.5em
            height: 11.5em
            display: block
            margin: 0 auto
        &__title
            margin: 1em 0
            text-align: center
            font-size: 2.142857em
        &__text
            text-align: center
            line-height: 1.785714em
            font-size: 1em
            font-weight: 400
            color: $slate
    &__button
        display: flex
        margin: 5.642857em auto 5.857142em
        padding: 1.142857em 2.142857em
        border-radius: 2px
        text-transform: uppercase
        font-family: $secondaryFont
        font-size: 1.142857em
        font-weight: 500
        letter-spacing: .035714em
        line-height: 1.857142em
        background-color: $charcoalGrey
        color: $white
