//====================================
// Success stories
//====================================
.success-stories
    display: flex
    padding-top: 3.571428em
    background-color: $silver
    &__box
        min-width: 50%
        margin-left: 3.428571em
        &__title
            padding-top: 1em
            align-self: flex-start
            font-size: 2.285714em
            font-weight: 600
            text-transform: uppercase
            color: $greyishBrown
        &__images

            display: flex
            flex-wrap: wrap
            & figure
                position: relative
                width: 30%
                min-height: 100px
                & img
                    position: absolute
                    top: 50%
                    left: 50%
                    width: 95%
                    transform: translate(-50%, -50%)
                &:nth-child(2) img, &:nth-child(5) img
                    width: 45%
    &__case
        margin-left: 4.214285em
        margin-right: 4.214285em
        &__img
            margin-top: 1em
            width: 487px
            height: 241px
        &__button
            display: flex
            margin: 2.357142em auto
            padding: 1.142857em 2.107142em
            border-radius: 2px
            text-transform: uppercase
            font-size: 1.142857em
            font-weight: 500
            letter-spacing: .035714em
            line-height: 1.857142em
            background-color: $charcoalGrey
            color: $white
