//====================================
// Suscribe
//====================================
.suscribe
    display: flex
    justify-content: space-around
    margin-top: 7.5em
    margin-bottom: 7.735714em
    &__title
        margin-bottom: 16px
        text-transform: uppercase
        font-size: 2.285714em
        font-weight: 600
        color: $greyishBrown
    &__text
        margin-bottom: 2.5em
        font-size: 1.142857em
        line-height: 2em
        color: $slate
    & div
        max-width: 625px
    &__separation
        height: 166px
        border-left: solid 1px $blueyGreen
    &__form
        max-width: 654px
        & select
            +appearance(none)
            color: $coolGrey
        &__input
            margin-right: 2.5em
            padding-top: .642857em
            padding-bottom: .857142em
            padding-left: 1.35714em
            border-radius: 2px
            width: 324px
            height: 47px
            font-size: 1.142857em
            font-weight: 600
            line-height: 1.857142em
            background-color: $paleGrey
            border: none
            outline: none
            &:first-child
                display: block
                width: 528px
                margin-bottom: 1.571428em
            &::placeholder
                color: $coolGrey
        &__button
            padding: 1.142857em 2.142857em
            border-radius: 2px
            font-size: 1.142857em
            font-weight: 600
            line-height: 1.857142em
            letter-spacing: .035714em
            background-color: $charcoalGrey
            color: $white
